:root {
     /*colors*/
     --primaryColor: #e9776c;
     --secondaryColor: #2c3e50;
     --backgroundColor: #f0f4f8;
     /*fonts*/
     --robotoFont: 'Roboto', sans-serif;
     --ralewayFont: 'Raleway', sans-serif;
}
body {
     background: #415270;
}
h2, h3, p, li {
     font-family: var(--robotoFont);
}
h4 {
     font-family: var(--ralewayFont);
}
.mainarea {
     margin-top: 40px;
     margin-bottom: 40px;
     background-color: var(--backgroundColor);
     min-height: 90vh;
     padding-bottom: 40px;
     max-width: 960px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 30px;
     padding-right: 30px;
     box-shadow: 0 0 5px 5px rgba(0,0,0,.3);
     text-align: justify;
}
.mainarea > div {
     padding: 20px 0;
}
.ava {
     text-align: center;
     padding-bottom: 0;
}
.ava img {
     border-radius: 500px;
     max-width: 100%;
     border: 5px solid var(--primaryColor);
}
.name {
     text-align: center;
     font-weight: bold;
     color: var(--primaryColor);
     margin-bottom: 0;
     margin-top: 0px;
     font-size: 30px;
}
.position {
     margin-top: 10px;
     font-weight: 300;
     text-align: center;
     font-size: 22px;
     color: var(--secondaryColor);
}
.position + p {
      font-family: var(--robotoFont);
      color: #313131;
      font-size: 20px;
      font-weight: 100;
}
 /*------------------------------------------------TIMELINE STYLE START------------------------------------------------*/
.timeline {
     background-color: var(--secondaryColor);
     height: 6px;
     position: relative;
     display: flex;
     justify-content: space-between;
     margin-right: 22px;
}

.dot {
     z-index: 100;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     top: -8px;
     border: 1px solid var(--secondaryColor);
     background-color: var(--backgroundColor);
     position: absolute;
     cursor: pointer;
}
.dot p, .dot div {
     font-family: var(--robotoFont);
}
.dot:first-child, .dot:last-child {
     background-color: var(--secondaryColor);
}
,dot:first-child{
     left: 0%;
}
.dot:last-child {
     left: 100%;
}
.dot:nth-child(2) {
     left: 16.6%;
}
.dot:nth-child(3) {
     left: 33.3%;
}
.dot:nth-child(4) {
     left: 50%;
}
.dot:nth-child(5) {
     left: 66.6%;
}
.dot:nth-child(6) {
     left: 83.3%;
}
.dot:nth-child(-n+6):hover {
     transform: scale(1.5);
     /*transition-duration: 1s;*/
}
.dot > p {
     position: absolute;
     left: -25%;
     display: block;
     bottom: 50%;
}
.dot > div {
     display: none;
}
.dot:hover > div {
     display: block;
     border: 2px solid rgba(233, 119, 108, .85)/*var(--primaryColor)*/;
     border-radius: 5px;
     background-color: rgba(240, 244, 248, .85);
     padding: 7px;
     z-index: 101;
     width: 180px;
     font-family: var(--robotoFont);
     font-size: 8px;
     top: 110%;
     position: absolute;

}
.dot:nth-child(6):hover > div {
     right: 1%;
}
/*------------------------------------------------TIMELINE STYLE END------------------------------------------------*/

.title {
     display: block;
     background-color: var(--secondaryColor);
     padding: 8px 10px 6px 15px;
     border-left: 10px solid var(--primaryColor);
     box-sizing: border-box;
     color: white;
     margin: 0 0 10px 0;
     position: relative;
}
.title.is-arrow:before, .title.is-arrow:after {
  content: '';
  width: 40px;
  height: 50%;
  right: -9px;
  position: absolute;
  background: linear-gradient(270deg, var(--secondaryColor) 0, var(--secondaryColor) 25%,
                                      var(--backgroundColor) 25%, var(--backgroundColor) 50%,
                                      var(--secondaryColor) 50%, var(--secondaryColor) 75%,
                                      var(--backgroundColor) 75%, var(--backgroundColor) 100%);
}
.title.is-arrow:before {
  top: 0;
  transform: skewX(-45deg);
}
.title.is-arrow:after {
  bottom: 0;
  transform: skewX(45deg);
 }
.list {
     margin: 0;
     padding: 0;
     list-style: none;
}
.list li {
     line-height: 24px;
     padding: 5px 0;
}
.list p {
     margin-top: 0;
}
.list li span {
     font-weight: 100;
}
/*------------------------------------------------EXPERIENCE AND INFO start------------------------------------------------ */
.info_parametr, .info_value, .exp_parametr, .exp_value {
   font-family: var(--robotoFont);
   font-size: 18px;
}
.info_parametr {
   color: #313131;
   font-weight: bold;
   width: 23%;
   display: inline-block;
}
.info_value {
   color: #4e4e4e;
   display: inline-block;
   margin-left: 5px;
}
.exp_parametr {
   color: #313131;
   width: 100%;
   display: inline-block;
}
.exp_parametr > span, .exp_value
 {
   color: #4e4e4e;
   font-size: 16px;
}
.exp_value {

}
/*------------------------------------------------EXPERIENCE AND INFO end------------------------------------------------ */
.skill {
     display: block;
     overflow: hidden;
}
.skill > p {
     width: 65%;
     float: left;
     margin: 0;
     font-family: var(--robotoFont);
}
.skill > .raiting {
     float: left;
     width: 35%;
     margin-top: 7px;
}
.raiting {
     display: flex;
     justify-content: space-around;
}
.raiting > span {
     width: 8px;
     height: 8px;
     display: block;
     float: left;
     border-radius: 10px;
     border: 1px solid var(--primaryColor);
}
.raiting.active_1 > span:nth-child(-n+1) {
     background-color: var(--primaryColor);
}
.raiting.active_2 > span:nth-child(-n+2) {
     background-color: var(--primaryColor);
}
.raiting.active_3 > span:nth-child(-n+3) {
     background-color: var(--primaryColor);
}
.raiting.active_4 > span:nth-child(-n+4) {
     background-color: var(--primaryColor);
}
.raiting.active_5 > span:nth-child(-n+5) {
     background-color: var(--primaryColor);
}
.hobbie {
   text-align: center;
   padding: 0;
   margin: 0px 8px 0px 8px;
}
.hobbie > img {
   display: block;
   margin: auto;

}
