$mainColor : #2776e5;
$mainFontColor: rgba(152, 152, 152, 1);
$mainFont: 'Slabo 27px', serif;

html {
   font-family: $mainFont;
}
form {
   margin-top: 60px;
   padding: 40px;
   .field {
      margin-bottom: 40px;
      label {
         display: block;
      }
   }
}
input {
    height: 50px;
    margin: 0px auto 20px auto;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    font-size: 13px;
    //line-height: 44px;
    outline: none;
    border: none;
    box-shadow: 0px 1px 0px 0px $mainFontColor;
    color: $mainFontColor;
    font-family: $mainFont;
}
input[type=submit] {
   background-color: $mainColor;
   text-align: center;
   padding: 0;
   color: white;
   border-radius: 7px;
   box-shadow: 0px 0px 1px 2px blue;
   cursor: pointer;
}
.label{
    position: absolute;
    top: 40%;
    font-size: 14px;
    color: $mainFontColor;
    text-transform: uppercase;
    cursor: text;
    margin-left: 20px;
    transform: translateY(-50%);
}
.input:focus+.label,
.input:valid+.label {
    top: -9px;
    font-size: 10px;
    transition: 0.3s ease 0s;
}
.input:focus+.label {
    opacity: 1;
    transition: 0.3s ease 0s;
}
.input:focus, .input:valid,  {
   box-shadow: 0px 1px 0px 0px $mainColor;
   transition: 0.3s ease 0s;
}
.line {
   height: 1px;
   box-shadow: 1px 1px 1px 0px $mainFontColor;
}
.message_label {
    font-size: 14px;
    color: rgba(152, 152, 152, 1);
    text-transform: uppercase;
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}
.message_field {
   border: none;
   box-shadow: 0px 1px 0px 0px $mainFontColor;
   color: $mainFontColor;
   font-size: 12px;
   width: 100%;
   outline: none;
   height: 80px;
}
.comment {
   margin-top: 40px;
}
.text {
   background-color: $mainColor;
   color: white;
   font-size: 14px;
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 10px;
   position: relative;
   &:after{
      content: '';
      position: absolute;
      top: 100%;
      left: 12%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 20px 20px 0;
      border-color: transparent $mainColor transparent transparent;
   }
}
.author{
   color: $mainColor;
   padding: 20px;
   a{
      color: $mainColor;
   }
}
@media (max-width: 350px){
   .label {
      font-size: 50%;
      margin-left: 0;
   }
}
@media (max-width: 150px){
   .label {
      font-size: 30%;
      margin-left: 0;
   }
}
